html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}
.main-box{width:575px; margin-top:30px;}
.main-box .audio-box{}
.number-box{min-width:30px; height:30px; border-radius:50%; background:#dddddd;position: relative;
    top: 10px;
    margin-right: 10px; display:block; text-align: center; line-height:30px; color:#337ab7 !important;}
.audio-box audio{}
.selectaudio{ font-size: 16px !important;}
#hadithlist{float: right;}
.ayah-box{ text-align: right !important ; padding-right: 15px !important;}
audio {width:100%;}
.ayah-text{text-align:right !important; padding-top: 15px !important;padding-right: 0px !important;font-size: 17px;}
.main-row{margin:15px 0px 15px 0px; padding:0px 0px 15px 0px; border-bottom: 1px solid #dddddd;}
.trans-row{margin:0px 0px 15px 0px; padding:0px 0px 15px 0px; border-bottom: 1px solid #dddddd;}
.arabic-ayah{padding-top: 10px;}

.is-audio.flowplayer .fp-engine {
  top: -99999em;
}
.is-audio.flowplayer .fp-player {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.is-audio.flowplayer.is-poster .fp-player {
  background-size: 0;
}
.is-audio.flowplayer.is-ad-visible .fp-engine {
  top: 0;
}
.is-audio-only.flowplayer .fp-engine,
.is-audio-only.flowplayer >a {
  top: -99999em;
}
.is-audio-only.flowplayer .fp-controls,
.is-audio-only.flowplayer .fp-time {
  display: block !important;
}
.is-audio-only.flowplayer .fp-brand,
.is-audio-only.flowplayer .fp-header,
.is-audio-only.flowplayer .fp-title {
  display: none !important;
}
.is-audio-only.flowplayer.is-audio-only-7x {
  background-color: rgba(0,0,0,0) !important;
}
.is-audio-only.flowplayer.is-audio-only-7x .fp-ui {
  cursor: default;
}
.is-audio-only.flowplayer.is-audio-only-7x .fp-controls,
.is-audio-only.flowplayer.is-audio-only-7x .fp-timeline {
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  cursor: pointer;
}
.is-audio-only.flowplayer.is-audio-only-7x .fp-timeline {
  width: 100% !important;
}
.is-audio-only.flowplayer.is-audio-only-7x.is-loading .fp-controls {
  opacity: 1;
}
.is-audio-only.flowplayer.is-splash .fp-duration,
.is-audio-only.flowplayer.is-splash .fp-timeline,
.is-audio-only.flowplayer.is-splash .fp-timeline-tooltip,
.is-audio-only.flowplayer.is-splash .fp-timestamp {
  display: none;
  cursor: default;
}
.is-audio-only.flowplayer.is-splash .fp-buffer,
.is-audio-only.flowplayer.is-splash .fp-progress,
.is-audio-only.flowplayer.is-splash .fp-volumelevel {
  width: 0 !important;
}
.top-box legend{
    margin: 0px;
    border: none !important;
    float:left;width:100%;
}
.top-box table{
   width: 100% !important;
}
.top-box table td input{
   margin-bottom: 5px !important;
}
.fp-previous{top:7px !important;}
.fp-next{top:7px !important;}