{{$SurahNumber := .Params.SurahNumber}} 
{{$AyahNumber :=  .Params.AyahNumber}} 
{{$TotalAyah := .Params.TotalAyah}}
{{$CurrAyah := int .Params.AyahNumber}}
<div class="row">
	<div class="col-md-6">
	{{$jsonURL := "data/Quran/Book/Overview/surah_overview.json" }} 
	{{$json := getJSON $jsonURL }}
		<select id="surahlist-compare">
		{{range $json}}
			<option {{ if (eq $SurahNumber .SurahNumber ) }} selected {{ end }} value={{ .SurahNumber }}>{{ .SurahNumber }} . {{ .SurahName }} </option>
		{{ end }}
		</select>
	</div>
	<div class="col-md-6">
		<select id="ayahlist-compare">
			{{ range $i, $sequence :=  (seq $TotalAyah) }} 
				<option {{ if (eq $sequence $CurrAyah) }} selected {{ end }} value="{{$sequence}}"  >{{$sequence}}</option>			
			{{ end }}
		</select>
	</div>
</div>
<div id="compare-quran-content" class="">
	<div class="compare-main-box">
		{{ if $SurahNumber }}
			{{$partA := "data/Quran/Book/ARB" }}
			{{$partB := "surah.json" }}
			{{$jsonURL := print $partA "/" $SurahNumber "/" $partB }} 
			{{$json := getJSON $jsonURL }}
			{{range $json }}
				{{ if and (eq .AyahNumber $AyahNumber) (eq .SurahNumber $SurahNumber) }}
				<div class="row main-row" >
					<div class="col-sm-6 arabic-ayah">
					{{ if and (ne .SurahNumber "1") (eq .AyahNumber "1") }}
						{{ replaceRE "بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ" "" .Body  }}
					{{else}}
						{{.Body | safeHTML }}  
					{{ end }} 
						
					</div>	
					
					<div class="col-sm-5">
						<div class="compare-audio-box">
							<div class="compare-right-audios">
								<audio  controls>
									<source src="{{ .Recitation }}" type="audio/mp3">
								</audio>
							</div>
						</div>
					</div>	
					<div class="col-sm-1">
						<div  class="number-box col-sm-1">
							{{ $AyahNumber }}
						</div>
					</div>	
				</div>
				{{ end }}
			{{ end }}
			{{$partA := "data/Quran/Book/ASD" }}
			{{$partB := "trans/surah.json" }}
			{{$partC := "notes/notes.json" }}
			{{$jsonURL := print $partA "/" $SurahNumber "/" $partB }} 
			{{$jsonURLnotes := print $partA "/" $SurahNumber "/" $partC }} 
			{{$jsonTrans := getJSON $jsonURL }}
			{{$jsonNotes := getJSON $jsonURLnotes }}
			<div class="row trans-row">
				<div class="col-sm-5">
					<b>Asad Quran Translation</b>
				</div>
				<div class="col-sm-7">
				{{ range $jsonTrans }}
					{{ if and (eq .AyahNumber $AyahNumber) (eq .SurahNumber $SurahNumber) }}
						{{.Body | safeHTML }} 
					{{ end }}	
				{{ end }}
				<br>
				<h5><i>Comments</i></h5>
				{{ range $jsonNotes }}
					{{ if and (eq .AyahNumber $AyahNumber) (eq .SurahNumber $SurahNumber) }}
						<b>{{ .NoteID }} : </b> {{.Body | safeHTML }} 
						</br>
					{{ end }}
				{{ end }}	
				</div>	
			</div>
			{{$partA := "data/Quran/Book/MAL" }}
			{{$partB := "surah.json" }}
			{{$jsonURL := print $partA "/" $SurahNumber "/" $partB }} 
			{{$jsonTrans := getJSON $jsonURL }}
			<div class="row trans-row">
				<div class="col-sm-5">
					<b>Malik Quran Translation</b>
				</div>
				<div class="col-sm-7">
				{{ range $jsonTrans }}
					{{ if and (eq .AyahNumber $AyahNumber) (eq .SurahNumber $SurahNumber) }}
						{{.Body | safeHTML }} 
					{{ end }}	
				{{ end }}
				</div>	
			</div>
			{{$partA := "data/Quran/Book/PIK" }}
			{{$partB := "surah.json" }}
			{{$jsonURL := print $partA "/" $SurahNumber "/" $partB }} 
			{{$jsonTrans := getJSON $jsonURL }}
			<div class="row trans-row">
				<div class="col-sm-5">
					<b>Piktal Quran Translation</b>
				</div>
				<div class="col-sm-7">
				{{ range $jsonTrans }}
					{{ if and (eq .AyahNumber $AyahNumber) (eq .SurahNumber $SurahNumber) }}
						{{.Body | safeHTML }} 
					{{ end }}	
				{{ end }}
				</div>	
			</div>
			{{$partA := "data/Quran/Book/YAT" }}
			{{$partB := "trans/surah.json" }}
			{{$partC := "notes/notes.json" }}
			{{$jsonURL := print $partA "/" $SurahNumber "/" $partB }} 
			{{$jsonURLnotes := print $partA "/" $SurahNumber "/" $partC }} 
			{{$jsonTrans := getJSON $jsonURL }}
			{{$jsonNotes := getJSON $jsonURLnotes }}
			<div class="row trans-row">
				<div class="col-sm-5">
					<b>Yusuf Ali Quran Translation</b>
				</div>
				<div class="col-sm-7">
				{{ range $jsonTrans }}
					{{ if and (eq .AyahNumber $AyahNumber) (eq .SurahNumber $SurahNumber) }}
						{{.Body | safeHTML }} 
					{{ end }}	
				{{ end }}
				<br>
				<h5><i>Comments</i></h5>
				{{ range $jsonNotes }}
					{{ if and (eq .AyahNumber $AyahNumber) (eq .SurahNumber $SurahNumber) }}
						<b>{{ .NoteID }} : </b> {{.Body | safeHTML }} 
						</br>
					{{ end }}
				{{ end }}	
				</div>	
			</div>
			{{$partA := "data/Quran/Book/TLT" }}
			{{$partB := "surah.json" }}
			{{$jsonURL := print $partA "/" $SurahNumber "/" $partB }} 
			{{$jsonTrans := getJSON $jsonURL }}
			<div class="row trans-row">
				<div class="col-sm-5">
					<b>Quran translitration</b>
				</div>
				<div class="col-sm-7">
				{{ range $jsonTrans }}
					{{ if and (eq .AyahNumber $AyahNumber) (eq .SurahNumber $SurahNumber) }}
						{{.Body | safeHTML }} 
					{{ end }}	
				{{ end }}
				<br>	
				</div>	
			</div>
		{{ end }}

	</div>
</div>
{{ if and .Site.DisqusShortname (not .Params.disableComments) }}
	<h4 class="page-header">Comments</h4>
	{{ template "_internal/disqus.html" . }}
{{ end }}