<div class="row">
	<div class="col-md-12">
		<select id="surahlist">
		  <option {{ if (eq .Params.SurahNumber "1" ) }} selected {{ end }} value="1">Al-Fathiha</option>
		  <option {{ if (eq .Params.SurahNumber "2" ) }} selected {{ end }} value="2">Al-Baqara</option>
		  <option {{ if (eq .Params.SurahNumber "3" ) }} selected {{ end }} value="3">Al-Imr'an</option>
		  <option {{ if (eq .Params.SurahNumber "4" ) }} selected {{ end }} value="4">An-Nisa</option>
		  <option {{ if (eq .Params.SurahNumber "5" ) }} selected {{ end }} value="5">Al-Maida</option>
		</select>
	</div>
</div>
{{$SurahNumber := .Params.SurahNumber}} 
{{ if $SurahNumber }} 
	{{ range index $.Site.Data.quran $SurahNumber}}
		{{ range .explore  }}
			<div class="row">
				<div id="quran-content">
					<div class="main-box">
						<div class="col-sm-7 ayah-text" dir="rtl" >
							{{ .Body }} 
						</div>
						<div class="col-sm-1">
							{{ if (ne .Ayahnumer "0" ) }} 
								<div  class="number-box">
									{{ .Ayahnumer }}
								</div>
							{{ end }}
						</div>
						<div class="col-sm-4">
							<div class="audio-box">
								<div class="right-audios">
									<audio  controls>
										<source src="{{ .Recitation }}" type="audio/mp3">
									</audio>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{ end }}	
	{{ end }}	
{{ end }}
{{ if and .Site.DisqusShortname (not .Params.disableComments) }}

	<h4 class="page-header">Comments</h4>

	{{ template "_internal/disqus.html" . }}

{{ end }}