<div class="item">
	<div class="col-md-4">
		<select id="surahlist">
		  <option value="1">Al-Fathiha</option>
		  <option value="2">Al-Baqara</option>
		  <option value="3">Al-Imr'an</option>
		  <option value="4">An-Nisa</option>
		</select>
	</div>
	<div id="quran-content">
		<ul>
			{{ range $.Page.Site.Data.quran.surah1}}
				<h2>Surah {{.Surahnumber }}. {{ .Surahname }} </h2>
				<br>
				{{ range .explore  }}
				<li style="list-style:none; text-align:right" dir="rtl" >
					<div class="ayah">
						<span class="recitation">
							<audio  controls>
								<source src="{{ .Recitation }}" type="audio/mp3">
							</audio>
						</span>
						<span class="body">
						{{ .Ayahnumer }}. {{ .Body }} 
						</span>
					</div>	
				</li>
				{{ end }}	

			{{ end }}
		</ul>		
	</div>
</div>