{{$SurahNumber := .Params.SurahNumber}} 
{{$TotalAyah := .Params.TotalAyah}}

<div class="row">
	<div class="col-md-12">
	{{$jsonURL := "data/Quran/Book/Overview/surah_overview.json" }} 
	{{$json := getJSON $jsonURL }}
		<select id="surahlist">
		 {{range $json}}
			<option {{ if (eq .SurahNumber $SurahNumber  ) }} selected {{ end }} value={{ .SurahNumber }}>{{ .SurahNumber }} . {{ .SurahName }} </option> 
		{{ end }}
		</select>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<select name="element" id="reciter_list">
			<option value="abdul_basit_mujawwad_128kbps">AbdulBasit(Mujawwad)</option>
			<option value="abdul_basit_murattal_192kbps">AbdulBasit(Murattal)</option>
			<option value="abdullah_basfar_192kbps">AbdullahBasfar</option>
			<option value="abdurrahmaan_as-sudais_192kbps">Abdurrahmaan-As-Sudais</option>
			<option value="hudhaify_128kbps">Al-Hudhaify</option>
			<option value="husary_128kbps_mujawwad">Al-Husary(Mujawwad)</option>
			<option value="minshawy_mujawwad_192kbps">Al-Minshawy(Mujawwad)</option>
			<option value="minshawy_murattal_128kbps">Al-Minshawy(Murattal)</option>
			<option value="abu_bakr_ash-shaatree_128kbps">Ash-Shaatree</option>
			<option value="saood_ash-shuraym_128kbps">Ash-Shuraym</option>
			<option value="hani_rifai_192kbps">Hani-Rifai</option>
			<option value="alafasy_128kbps" >MisharyRashidAl-Afasy</option>
			<option value="muhammad_Jibreel_128kbps">MuhammadJibreel</option>
		</select>
	</div>
</div>
<div id="icecast" style=" margin: 10px 0px 55px !important;bottom: 0px !important;" ></div>
<div style="padding-top: 24px;">
   <div style="padding-bottom:5px;;float:left">Currently Reciting Ayah : </div>
   <div style="padding-left:5px;float:left" id='curraya'> 1 </div>
   <div style="clear:both"></div>
</div>
<div class="hline"></div>
<div style="margin:2px 0;">
<div style="margin-bottom:15px;">Repeat Times</div>
<div class="row top-box">
    <div class="col-sm-6">
        <fieldset style="border:1px solid #333; padding:5px;">
        <legend style="color:#FFF !important">
            <input name="surahOrAyah" id="surahOrAyah1" value="1"  type="radio" class="surah_radio" style="float: left;" />Surah
        </legend>
        <div id="su1" style=" padding:3px; float:left;">Each Surah&nbsp;&nbsp;&nbsp;&nbsp;
            <input value="1" name="repeatSurah" id="repeatSurah" type="text" style="width:20px;"  /> Times 
        </div>
        </fieldset>
    </div>
     <div class="col-sm-6">
       <fieldset style="border:1px solid #333; padding:5px; ">
        <legend style="color:#FFF !important">
            <input name="surahOrAyah" id="surahOrAyah2" value="2" type="radio" class="ayah_radio" style="float: left;" />Ayah
        </legend>
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td align="left"></td>
                <td align="left" valign="middle">
                    <div id="repeatfromto">
                    <table cellpadding="1" cellspacing="2" width="153">
                        <tbody>
                            <tr>
                                <td valign="top"> Each</td>
                                <td valign="top"> Ayah </td>
                                <td valign="top">
                                <input value="1" name="repeatAyah" id="repeatAyah" type="text" style="width:20px;"  /> Times 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                <hr style="border:1px solid #333; padding:0; margin-bottom:10px;" />
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">Ayah</td>
                                <td valign="top">From</td>
                                <td valign="top">
                                <input value="1" name="From" id="From" type="text" style="width:23px;" /> To
                                <input value="" name="To" id="To" type="text" style="width:23px;" />
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">&nbsp;</td>
                                <td valign="top">&nbsp;</td>
                                <td valign="top" >
                                <input value="1" name="repeatsurahByAya" id="repeatsurahByAya" type="text" style="width:20px;" /> Times
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </td>
            </tr>
        </table>
        </fieldset> 
    </div>
</div>
{{ if $SurahNumber }}
	{{$partA := "data/Quran/Book/ARB" }}
	{{$partB := "surah.json" }}
	{{$jsonURL := print $partA "/" $SurahNumber "/" $partB }} 
	{{ $json := getJSON $jsonURL }}
	{{ if and (ne $SurahNumber "1") (ne $SurahNumber "9") }}
		{{$bismiURL := print $partA "/" 1 "/" $partB}}
		{{ $bismiJSON := getJSON $bismiURL }}
		{{ range $bismiJSON }}
			{{ if (eq .AyahNumber "1") }}
				<div class="row">
					<div id="quran-content">
						<div class="main-box">
							<div class="col-sm-6 selectaudio" id ="ayah-text_{{ .AyahNumber }}" dir="rtl" >
								{{ .Body }} 
							</div>
							<div class="col-sm-1">
								<div  class="number-box">
								
								</div>
							</div>
							<div class="col-sm-5">
								<div class="audio-box">
									<div class="right-audios">
										<audio  controls>
											{{$recitationURL := .Recitation}}
											<source src='https://alim-quran.s3.amazonaws.com/recitation/{{ print $recitationURL}}.mp3' type="audio/mp3">
										</audio>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{ end }}
		{{ end }}
	{{ end }}
	{{ range $json }}
	<div class="row">
		<div id="quran-content">
			<div class="main-box">
				
				<div class="col-sm-6 selectaudio" id ="ayah-text_{{ .AyahNumber }}" dir="rtl" >
					{{ if and (ne .SurahNumber "1") (eq .AyahNumber "1") }}
						{{ replaceRE "بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ" "" .Body  }}
					{{else}}
						{{ .Body }} 
					{{ end }} 
				</div>
				<div class="col-sm-1">
					<div  class="number-box">
						{{ .AyahNumber }}
					</div>
				</div>
				<div class="col-sm-5">
					<div class="audio-box">
						<div class="right-audios">
							<audio  controls>
								{{$recitationURL := .Recitation}}
								<source src='https://alim-quran.s3.amazonaws.com/recitation/{{ print $recitationURL}}.mp3' type="audio/mp3">
							</audio>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ end }}	
{{ end }}
{{ if and .Site.DisqusShortname (not .Params.disableComments) }}

	<h4 class="page-header">Comments</h4>

	{{ template "_internal/disqus.html" . }}

{{ end }}
<!-- main -->
<script src="/js/recitation.js"></script>
<!-- FlowPlayer -->
<script src="http://www.alim.org/sites/all/themes/alim/flowplayer/flowplayer.min.js"></script>
<script src="http://www.alim.org/sites/all/themes/alim/flowplayer/flowplayer.hlsjs.min.js"></script>
<script src="http://www.alim.org/sites/all/themes/alim/flowplayer/flowplayer.audio.js"></script>
